body {
    direction: rtl;
    background-color: skyblue;
    font-family: Arial, sans-serif;
    text-align: center;

}
h1{
    font-size: 550%;
}
#labels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}


table {
    font-size: 350%;
    margin: 2em auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: gold;
}

button {
    border-radius: 2rem;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    width: 30%;
    height: 10%;
    font-size: 450%;
}

button:hover {
    background-color: #2980b9;
}

 select {
     border-radius: 2rem;
     background-color: antiquewhite;
    margin: 1.2em 1.7em;
    font-size: 550%;
}
